# William 
William Bie Andreassen <williba@stud.ntnu.no> William Bie Andreassen <williba@stud.ntnu.no>
# August
August Skarsfjord Nyheim <augustsn@stud.ntnu.no> August Skarsfjord Nyheim <augustsn@stud.ntnu.no>
# Johannes 
Johannes Landmark Meldal <johanlm@stud.ntnu.no> Johannes Landmark Meldal <johanlm@stud.ntnu.no>
Johannes Landmark Meldal <johanlm@stud.ntnu.no> Johannes Meldal <johanlm@stud.ntnu.no>
# Torunn 
Torunn Mikkelsen Bårdstu <torunnmb@stud.ntnu.no> Torunn Mikkelsen Bårdstu <torunnmb@stud.ntnu.no>
Torunn Mikkelsen Bårdstu <torunnmb@stud.ntnu.no> torunnmb <torunnmb@stud.ntnu.no>
# Stoica
George Adrian Stoica <stoica@ntnu.no> George Adrian Stoica <stoica@ntnu.no>
George Adrian Stoica <stoica@ntnu.no> Adrian Stoica <stoica@ntnu.no>